<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <a href="/">Home</a><br />
    <% if(folderFiles) { %> <% for (let i = 0; i < folderFiles.length; i++) { %>
    <a
      href="/library/<%= urlParams.folderName %>/<%= folderFiles[i].fileName %>"
      ><%= folderFiles[i].fileName %></a
    ><br />
    <% } } %>
    <a href="/form_upload">Upload A File</a>
  </body>
</html>
